---
type ButtonVariants = "primary" | "secondary" | "ghost" | "outlined";
type ButtonRadius = "sm" | "md" | "lg" | "full";
type ButtonSize = "xs" | "sm" | "md" | "lg";
type ButtonTextTone = "default" | "inverse";

interface Props {
  variant?: ButtonVariants;
  size?: ButtonSize;
  startEnhancer?: string;
  endEnhancer?: string;
  rounded?: boolean;
  radius?: ButtonRadius;
  disabled?: boolean;
  loading?: boolean;
  removePadding?: boolean;
  textTone?: ButtonTextTone;
  href?: string;
  target?: string;
  fullWidth?: boolean;
  className?: string;
}

const {
  variant = "primary",
  size = "md",
  startEnhancer,
  endEnhancer,
  removePadding,
  radius = "lg",
  rounded = false,
  disabled,
  loading,
  textTone = "default",
  href,
  target,
  fullWidth = false,
  className = "",
}: Props = Astro.props;

const radiusClass: Record<ButtonRadius, string> = {
  sm: "rounded-sm",
  md: "rounded-md",
  lg: "rounded-lg",
  full: "rounded-full",
};

const sizeClass: Record<ButtonSize, string> = {
  xs: "px-2 py-1 body-12-semibold",
  sm: "px-4 py-2 body-14-semibold",
  md: "px-6 py-3 body-16-semibold",
  lg: "px-8 py-4 body-18-semibold",
};

const iconSizeClass: Record<ButtonSize, string> = {
  xs: "w-3 h-5",
  sm: "w-4 h-8",
  md: "w-5 h-10",
  lg: "w-6 h-12",
};

const fontSizes: Record<ButtonSize, string> = {
  xs: "body-12-semibold",
  sm: "body-14-semibold",
  md: "body-16-semibold",
  lg: "body-18-semibold",
};

const outlinedClass =
  "border-2 border-[var(--color-border-light)] transition-all duration-200";

const variants: Record<ButtonVariants, string> = {
  primary:
    "bg-[var(--color-button-primary)] hover:bg-[var(--color-button-primary-hover)] hover:text-(--color-text-inverse) ",
  secondary: "bg-[var(--color-button-secondary)] ",
  ghost: "bg-[var(--color-ghost)] ",
  outlined: "bg-[var(--color-button-outlined)] ",
};

const toneClass: Record<ButtonTextTone, string> = {
  default: "text-[var(--color-text-primary)]",
  inverse: "text-[var(--color-text-inverse)]",
};

const sharedClasses = [
  fullWidth ? "w-full" : "w-fit",
  "flex items-center justify-center cursor-pointer transition-colors duration-200",
  variants[variant],
  rounded ? radiusClass[radius] : "  ",
  !removePadding && sizeClass[size],
  toneClass[textTone],
  variant === "outlined" && outlinedClass,
  className,
]
  .filter(Boolean)
  .join(" ");
---

{
  href ? (
    <a href={href} class={sharedClasses} target={target ?? "_self"}>
      {startEnhancer && (
        <img
          src={`./icon/${startEnhancer}.svg`}
          alt={startEnhancer}
          class={iconSizeClass[size]}
        />
      )}
      <p class={fontSizes[size]}>
        <slot />
      </p>
      {endEnhancer && (
        <img
          src={`./icon/${endEnhancer}.svg`}
          alt={endEnhancer}
          class={iconSizeClass[size]}
        />
      )}
    </a>
  ) : (
    <button type="button" disabled={disabled} class={sharedClasses}>
      {startEnhancer && (
        <img
          src={`./icon/${startEnhancer}.svg`}
          alt={startEnhancer}
          class={iconSizeClass[size]}
        />
      )}
      <p class={fontSizes[size]}>
        <slot />
      </p>
      {endEnhancer && (
        <img
          src={`./icon/${endEnhancer}.svg`}
          alt={endEnhancer}
          class={iconSizeClass[size]}
        />
      )}
    </button>
  )
}
