---
import site from "../../content/site.json";
import Button from "../atoms/Button.astro";
import Video from "../atoms/Video.astro";
---

<section class="w-full h-[700px] md:h-[850px] mx-auto relative overflow-hidden">
  <!-- Video Background -->
  <Video
    posterMobile="/videos/hero-poster-optimized.jpg"
    posterDesktop="/videos/hero-poster-optimized.jpg"
    webmMobile="/videos/hero-mobile.webm"
    webmDesktop="/videos/hero-desktop.webm"
    mp4Mobile="/videos/hero-mobile.mp4"
    mp4Desktop="/videos/hero-desktop.mp4"
  />
  <!-- Overlay + Content -->
  <div class="relative w-full h-full z-10">
    <div
      class="flex h-full w-full justify-center items-center flex-col gap-6 text-center"
    >
      <p class="body-18 text-(--color-text-inverse)">{site.hero.eyebrow}</p>

      <div class="max-w-3xl">
        <h1 class="heading-1 text-(--color-text-inverse) font-bold text-shadow">
          {site.hero.title.toUpperCase()}
        </h1>
      </div>

      <p class="heading-3 text-(--color-text-inverse)">{site.hero.body}</p>

      <Button
        variant="primary"
        size="lg"
        href={site.hero.primaryCta.href}
        target="_blank"
      >
        {site.hero.primaryCta.label.toUpperCase()}
      </Button>
    </div>
  </div>
</section>
